.courseMainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    width: 350px;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 30px;
}

.cardDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cardPrice{
    font-style: italic;
    color: red;
}

.cardDeleteBtn{
    border: none;
    background-color: rebeccapurple;
    color: white;
    border-radius: 30px;
    padding: 10px;
    width: 100px;
}

.cardDeleteBtn:hover{
    background-color: rgb(134, 80, 188);
    color: white;
}

.refreshDiv{
    text-align: center;
}